$font-color: rgb(255, 255, 255);

body {
    background-color: rgb(73, 72, 72);
    background-image: url(back.png);
    header {
        background-color: rgb(36, 30, 30);
        display: flex;
        justify-content: space-between;

        .logo {
            color: $font-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 100px;

            h4 {
                margin-top: -20px;
            }
        }

        .navigation {
            display: grid;
            grid-template-columns: repeat(5, 100px);
            place-items: center;

            a {
                margin-right: 30px;
                color: $font-color;
                text-decoration: none;
            }
            a:hover {
                color: red;
            }
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        .intro-news {
            background-color: red;
            color: $font-color;
            width: 300px;
            text-align: center;
            width: 200px;
            border-radius: 3px;
            margin-bottom: -20px;
        }

        .intro-welcome {
            background-color: black;
            color: $font-color;
            width: 600px;
            height: 60px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 5px;
        }

        .intro-words {
            background-color: rgba(0, 0, 0, 0.397);
            color: $font-color;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 350px;
            height: 40px;
            margin-top: -20px;
            border-radius: 5px;
        }
    }

}

// * {
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     box-sizing: border-box;
// }

// .header {
//     height: 190px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }

// .header_image {
//     margin-left: 30px;
// }

// .header_StroimDom {
//     color: orange;
//     padding: 10px;
// }

// .header_contacts_first {
//     color: rgb(68, 68, 68);
//     min-width: 170px;
//     padding: 10px;
// }

// .header_contacts_second {
//     color: rgb(68, 68, 68);
//     min-width: 270px;
//     padding: 10px;
// }

// .orange-colored-text {
//     color: orange;
// }

// .header_contacts_mail {
//     font-size: 20px;
// }

// .header_button {
//     align-self: center;
//     max-width: 290px;
//     padding: 30px 20px;
//     border-radius: 5px;
//     background-color: orange;
//     text-decoration: none;
//     color: rgb(68, 68, 68);
//     font-size: 20px;
//     font-weight: bolder;
//     word-wrap: normal;
//     user-select: none;
//     text-align: center;
// }

// .header_button:hover {
//     background-color: rgb(56, 55, 55);
//     color: white;
// }

// .menu {
//     margin-top: 10px;
//     display: flex;
//     justify-content: right;
//     align-items: center;
//     flex-direction: row-reverse;
//     background-color: rgb(56, 55, 55);
//     height: 70px;
//     line-height: 40px;
//     min-width: 100%;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//     min-width: 840px;
// }


// .menu-element {
//     float: right;
//     text-decoration: none;
//     text-transform: uppercase;
//     background-color: rgb(56, 55, 55);
//     font-size: large;
//     padding-right: 15px;
//     padding-left: 15px;
//     border-right: 2px solid rgb(143, 142, 142);
//     color: white;
// }

// .element5 {
//     border: 1px solid rgb(56, 55, 55);
//     margin-right: 20px;
// }



// .menu-element:hover {
//     color: orange;
// }