@import "header.scss";

body {
    background-color: rgb(73, 72, 72);
    background-image: url(images/back.png);

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0px;

        .title__news {
            background-color: red;
            color: $font-color;
            width: 300px;
            text-align: center;
            width: 200px;
            border-radius: 3px;
            margin-bottom: -20px;
        }

        .title__welcome {
            background-color: black;
            color: $font-color;
            width: 600px;
            height: 60px;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 5px;
        }

        .title__words {
            background-color: rgba(0, 0, 0, 0.397);
            color: $font-gr;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 350px;
            height: 40px;
            margin-top: -20px;
            border-radius: 5px;
        }
    }

    .space {
        display: grid;
        grid-template-columns: 600px 300px;
        justify-content: center;
        .news-title {
            background-color: rgba(175, 171, 171, 0.26);
            height: 30px;
            width: 560px;
            border-right: 2px solid rgba(255, 0, 0, 0.397);
            padding-left: 30px;
            margin-top: 10px;

        }

        .news {
            color: black;
            display: grid;
            grid-template-rows: repeat(3, 50px 350px 200px);
            background-color: white;

            

            .news-bp {
                display: grid;
                grid-template-columns: 150px 1fr;
                .news-buttons {
                    display: grid;
                    width: 130px;
                }

                .share-button {
                    margin: 3px;
                    color: white;
                    font-weight: bold;
                    display: grid;
                    grid-template-columns: 20px 1fr;
                    align-self: center;
                    border-radius: 5px;
                }

                .vk-button {
                    background-color: rgba(40, 40, 245, 0.349);
                }

                .snap-button {
                    background-color: rgba(255, 255, 0, 0.473);
                }

                .twit-button {
                    background-color: rgba(113, 113, 247, 0.336);
                }

                .gmail-button {
                    background-color: rgba(255, 0, 0, 0.425);
                }

                .link {
                    color:red;
                    margin-left: 300px;
                }
            }
        }

        .menu {
            background-color: $main-black;
            color: white;
            .menu__nav {
                padding-left: 20px;
                border-right: 2px solid red;
                background-color: rgba(175, 171, 171, 0.062);
                height: 35px;
                color:rgb(187, 187, 187);
                display: flex;
                align-items: center;
            }
        }
    }

}